@import "./styles/_styles.scss";

.weather {
  display: flex;

  &__icon {
    width: 5rem;
    height: 5rem;
  }

  &__content {
    margin-left: $spacing-small;

    &__heading {
      margin: 0;
    }

    &__tip {
      font-size: $font-size-small;
    }

  }

}