@import "./styles/_variables.scss";

.stat-panel {
  background-color: #FFFFFF;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  margin-bottom: $spacing-medium;
  padding: 2em;
  position: relative;
  min-height: 16em;

  &__status {
    color: $secondary-grey;
    font-size: $font-size-regular;
    position: absolute;
    right: 1em;
    top: 1em;

    &--attention {
      color: red;
      display: flex;
        align-content: center;

      &:before {
        content: '\e002';
        font-family: "Material Icons";
        margin-right: .25em;
      }
    }

  }

  &__info {
    display: flex;
    position: relative;
    z-index: 2;
  }

  &__icon {
    align-self: top;
    color: $icon-color;
    margin-right: $spacing-medium;
  }

  &__heading {
    color: $primary-grey;
    font-size: $font-size-medium;
    font-weight: 400;
    margin: 0;
  }

  &__icon,
  &__heading {
    z-index: 2;
  }

  &__stat {
    color: $primary-blue;
    font-size: $font-size-medium;
    font-weight: 600;
    line-height: 2rem;
  }

  &__chart {
    position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    z-index: 1;
  }

  &__loading {
    align-self: center;
    color: $secondary-grey;
    font-size: $font-size-small;
    margin: $spacing-large 0;
    text-align: center;
  }

}