@import "styles/_styles.scss";

html, body {
  font-size: 8px;

  @include breakpoint(medium) {
    font-size: 9px;
  }

  @include breakpoint(large) {
    font-size: 10px;
  }

}

body {
  background-color: $background-color;
  font-family: "HK Grotesk", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  color: $primary-color;
  font-size: $font-size-large;
  text-align: center;

  @include breakpoint(small) {
    text-align: left;
  }
}

.app {

  &__header {
    margin-bottom: $spacing-medium;
  }

  &__title {
    display: flex;
    margin: $spacing-medium 0;
  }

  &__connection {
    margin-top: 10rem;
    text-align: center;
  }

}
