@import "styles/_variables.scss";

html, body {
  font-size: 8px;

  @include breakpoint(medium) {
    font-size: 9px;
  }

  @include breakpoint(large) {
    font-size: 10px;
  }

}

body {
  background-color: $background-color;
  font-family: "Sofia Pro", "Helvetica Neue", Arial, sans-serif;
}

h1 {
  color: $primary-color;
  font-size: 4.8em;
  text-align: center;

  @include breakpoint(small) {
    text-align: left;
  }
}

.app {

  &__title {
    display: flex;
    margin: 2em 0;
  }

  &__connection {
    margin-top: 10rem;
    text-align: center;
  }

}

.material-icons {
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}

