body {
  background-color: #F4F6F8;
  font-family: "Sofia Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 10px; }

h1 {
  color: #24353E;
  font-size: 4.8em; }

.app__title {
  display: flex;
  margin: 2em 0; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }
